.Aside-game {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}
.Aside-game button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: #262930;
    width: calc(100% - 1.2rem);
}
.Aside-game button:hover, .Aside-game button:focus {
    background-color: #dc143c;
}

.App.sidebar-closed .Aside-game button {
    justify-content: center;
    padding: 0.5rem 0.45rem;
}

.toggle-btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #262930;
    color: #ffffff;
    padding: 0.5rem 120px;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.App.sidebar-closed .toggle-btn {
    padding: 0.5rem 0.6rem;
}

